<div class="container mt-5">
 <div class="text-center">
    <h3>Dashboard</h3>
    <% @participants.each_with_index do |participant, index| %>
      <%= render "level_up_session/table",
       title: participant.username, 
       type: @questionsU[participant.id] %><hr>
    <% end %>
 </div>
</div>
