<%= form_with url: '/level_up' do |form| %>
  <div>
    <% form.label :expression %><br>
    <%= form.text_field :expression, value: @expression %>
  </div>

  <div>
    <% form.label :solution %><br>
    <%= form.text_field :solution %>
  </div><br>

  <div>
    <%= form.submit %>
  </div>
<% end %>