<div class="container mt-5">
 <div class="text-center">
    <h1>Bro vs Bro mode</h1>
    <p>Here you can create a room which can be joined by your friend</p>
    <p>Just create a new room, share the room's link with your friend through which he/she can join</p>
    <p>This way you can play with your friends, seeing the number of questions they have attempted and more.</p>
    <h1>Create Room</h1>
    <%= form_with url: "/rooms", class: "form-group question-form" do |form| %>
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
      <%= form.submit "Create Room", class: "btn btn-primary mt-3" %>
    <% end %>
 </div>
</div>