<h1>Welcome to the practice area</h1>
<p>You can test your skills here!</p><br>
<h3>Choose your preferred mode:</h3>
<%= link_to 'Level Up', level_up_path %><br>
<%= link_to 'Bro vs Bro', bro_vs_bro_path %><br>