<h1>Welcome to the practice area</h1>
<p>You can test your skills here!</p><br>
<h3>Choose your preferred mode:</h3>
<%= link_to 'Level Up', level_up_path %><br>
<%= link_to 'Bro vs Bro', bro_vs_bro_path %><br>
<%= link_to 'Bro vs Pro', bro_vs_pro_path %><br>


Working on the bro vs bro mode
 1. Room model
 2. Participant model user and room references
 3. git commit name: Beginning working on Bro vs Bro mode
 4. controller bro_vs_bro
 5. AddColumnToRooms name:string
 6. git commit name: Created controller for bro vs bro mode, working on creating rooms

 next: work on the join room function