<div class="container mt-5">
 <div class="title-container">
   <h1 class="text-center mb-4">Level Up Mode</h1>
 </div>
 <div id="time" class="text-center">
    <%= turbo_frame_tag "start" do %>
      <p>This is the level up mode. Here you complete as many questions as you can in 10 seconds</p>
      <%= link_to "Start", question_path, class: "btn btn-primary", autofocus: true, data: {controller: "countdown", action: "countdown#start" } %>
      <%= link_to 'Back to Practice area', practice_path, class: "btn btn-primary" %>
    <% end %>
    <br><br><br>
    <%= link_to 'Your time will show here', '#', class: 'timer btn btn-primary btn-lg', id: 'countdown_btn' %>
 </div>
</div>
