<div class="container mt-5 text-center px-md-5">
 <h1 class="mb-4">About Geeky</h1>
 <div class="mydiv12">
    <div class="col-md-12">
      <h2>A full stack project by Bhavyansh. <br>Check more of my work at <a href="https://diversepixel.com/">diversepixel.com</a></h2>
    </div>
 </div>
</div>
