<h1>About us</h1>
<p>Geeky is the application that will help you to practice maths problems. You can choose type of math questions for competitive exam preparation. Check more of my work at <a href="https://diversepixel.com/">diversepixel.com</a></p>
