<div class="footer">
    <div class="container py-4">
        <h3 class= "text-center">Geeky</h3><hr>
        <div class="row justify-content-center">
            <div class="col-4 text-center">
                <h5>Services</h5>
                <%= link_to "Learning area", root_path %><br>
                <%= link_to "Practice area", root_path %>
            </div>
        </div>
    </div>
</div>