<section class="footer-light">
      <div class="container-2">
        <div class="footer-wrapper-two">
          <a href="#" class="footer-brand w-inline-block">
            <div class="text-block-2">Geeky</div>
          </a>
          <div class="footer-block-two">
            <%= link_to "Learning area", articles_path, class: "footer-link-two" %>
            <%= link_to "Practice area", practice_path, class: "footer-link-two" %>
          </div>
        </div>
        <div class="footer-divider-two"></div>
        <div class="footer-bottom">
          <div class="footer-copyright">© Copyright diversepixel</div>
        </div>
      </div>
    </section>