<div class="footer">
    <div class="container py-4">
        <h3 class= "text-center">Geeky</h3><hr>
        <div class="row justify-content-center">
            <div class="col-4 text-center">
                <h5>Services</h5>
                <%= link_to "Learning area", articles_path %><br>
                <%= link_to "Practice area", practice_path %>
            </div>
        </div>
    </div>
</div>



<section class="footer-light">
      <div class="container-2">
        <div class="footer-wrapper-two">
          <a href="#" class="footer-brand w-inline-block">
            <div class="text-block-2">Geeky</div>
          </a>
          <div class="footer-block-two">
            <a href="#" class="footer-link-two">Learning Area</a>
            <a href="#" class="footer-link-two">Practce Area</a>
          </div>
        </div>
        <div class="footer-divider-two"></div>
        <div class="footer-bottom">
          <div class="footer-copyright">© Copyright diversepixel</div>
        </div>
      </div>
    </section>